.toggle{
  position: relative;
  display: flex;
  width: 80px;
  height:40px;
  border-radius:20px;
}
.circle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height:100%;
  border-radius:50%;
/*   background-color: rgba(171, 71, 188,.75); */
}
.circle-light{
  background-color: var(--dark);
  color: var(--light);
}
.circle-dark{
  background-color: var(--light);
  color: var(--dark);
}
.light-toggle{
  background-color: var(--dark-lighter);
}
.dark-toggle{
  background-color: var(--light-lighter);
}
/* .active{
  background-color: rgb(171, 71, 188);
} */

.circle svg{
  font-size: 1.8rem;
}

@media screen and (min-width: 980px){
  .toggle{
    width: 120px;
    height: 60px;
    border-radius: 30px
  }
}